*{
    padding: 0;
    margin: 0;
}


body{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    margin: 0;
    padding: 0;
    height: 100%;
    /* font-family: 'Courier New', Courier, monospace; 
    */
}
html {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
}

.hero{
    height: 140svh;
    width: 100%;
    /* background-color: aqua; */
    background-image: url(./images/bk.png);
    align-items: center;
    display: flex;
    background-size: cover;
    flex-direction: column;
}


.main-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    
    
     
}

ul{
    display: flex;
    gap: 2rem;;
    padding: 2%;

}





li{
    font-size: 20px;
    list-style: none;
    color: white;
  
}


a{
    text-decoration: none;
}


.company-lg{

padding: 2%;


}




/* article */
.info{
align-items: center;
display: flex;
flex-direction: column;

}


.GS{

    color: white;
    font-size: 120px;
    margin-top: 25%;

}


.SGL{

    font-size: 24px;
    color: rgb(255, 255, 255);
    word-spacing: 20px;
    
   
}

.register{
      background-color: #C271FF;
       width: 160px;
       height: 45px;
       font-size: 14px;
    border-radius: 50px;
    margin-top: 5%;
    /* padding: 6px; */
    text-align: center;
    border:none;

}

:hover.register{
    background-color: white;
}

/* artcle */


/* learn from the pro */
.Learn{

    font-size: 25px;
    margin-top: 12%;
    color:white;
}


span{
    color:#C271FF;
   
   
}
/* learn from the pro */




/* images-div */

.images-div{

height: 150px;
    width: 150px;
align-items: center;
display: flex;
gap: 10px;
margin-top: 5%;
justify-content: center;
border-radius: 120px;


}

.people{
    height: 150px;
    width: 150px;
    border-radius: 160px;
}


/* images-div */

/* testimonial sction */







/* testimonial sction */
.Testimonial{
    height: 392px;
    width: 100%;
    background-color: #C271FF;
     justify-content: center;
     display: flex;
     align-items: center;
       font-size: 20px;
       gap: 20px;  
}




.man{
      height: 150px;
    width: 150px;
    border-radius: 160px;
    
}

.text{
    color: rgb(0, 0, 0);
    display: flex;
   flex-direction: column;



}


/* testimonial sction */

/* .Most popular tutorials */




.imgs-div{

height: 250px;
width: 1228px;
align-items: center
;
display: flex;
justify-content: center;
background-color: rgb(255, 255, 255);
margin-bottom: 1%;
margin: auto;
gap: 1%;
flex-direction: row;

}



.heading{
    font-size: 34px;
    margin-top: 2%;
    /* align-items: center; */
    justify-content: center;
}



span{
    color: #C271FF;
}
/* .Most popular tutorials */

/* free membership */
.Membership{
    height: 400px;
    width: 100%;
    background-color: #071629;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    
    

;

}




.smile{

    color: white;
    margin-top: 9%;
    align-items: center;
    justify-content: ;
    height: 50px;
    
}